interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://inspire-qa-worker3-task1.cern.ch/api/tasks?&limit=25&state=RECEIVED
  response:
    body: {string: !!python/unicode '{"427756ad-c6d6-4c2b-86d7-d2d9e1178b06": {"root_id":
        "427756ad-c6d6-4c2b-86d7-d2d9e1178b06", "result": null, "children": [], "uuid":
        "427756ad-c6d6-4c2b-86d7-d2d9e1178b06", "clock": 1729062, "exchange": null,
        "routing_key": null, "failed": null, "state": "RECEIVED", "client": null,
        "parent_id": null, "kwargs": "{''skip_files'': True}", "sent": null, "expires":
        null, "parent": null, "retries": 0, "started": null, "timestamp": 1539608797.963781,
        "args": "([724701, 724700, 724699, 724698, 724696, 1347666, 1347665, 426430,
        259086, 724210, 1052502, 1347604, 1347598, 1347596, 1347595, 1236098, 1235795,
        724839, 1347594, 426410, 426451, 277653, 707472, 1347685, 1253645, 137497,
        1355339, 426363, 426359, 724165, 277652, 724164, 724271, 724270, 724269, 1538174,
        426409, 426408, 724167, 958035, 426404, 1253635, 1253634, 1253633, 426449,
        426448, 426447, 282950, 137204, 1144173, 724209, 724168, 1347664, 1347663,
        724913, 1347662, 1347661, 426426, 1347660, 427322, 1348378, 959972, 727198,
        727197, 726983, 1348377, 1617938, 1347593, 426402, 426401, 259082, 1347591,
        724205, 724204, 724203, 724202, 724201, 724200, 705958, 137563, 1174017, 1348461,
        427448, 706748, 756645, 1348460, 727383, 727382, 727381, 727379, 727377, 727376,
        727375, 727374, 259084, 1347659, 1347658, 724347, 724346, 724345],)", "rejected":
        null, "name": "inspirehep.modules.migrator.tasks.migrate_recids_from_mirror",
        "received": 1539608797.963781, "exception": null, "revoked": null, "succeeded":
        null, "traceback": null, "eta": null, "retried": null, "runtime": null, "root":
        "427756ad-c6d6-4c2b-86d7-d2d9e1178b06"}, "afc5da77-3453-48f8-8db4-69cc8637a11d":
        {"root_id": "afc5da77-3453-48f8-8db4-69cc8637a11d", "result": null, "children":
        [], "uuid": "afc5da77-3453-48f8-8db4-69cc8637a11d", "clock": 1728963, "exchange":
        null, "routing_key": null, "failed": null, "state": "RECEIVED", "client":
        null, "parent_id": null, "kwargs": "{''skip_files'': True}", "sent": null,
        "expires": null, "parent": null, "retries": 0, "started": null, "timestamp":
        1539608791.360082, "args": "([1347714, 1253781, 159695, 138058,[...]
