interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://inspire-qa-worker3-task1.cern.ch/api/workers?workername=celery@inspire-qa-worker3-task5.cern.ch
  response:
    body: {string: !!python/unicode '{"celery@inspire-qa-worker3-task5.cern.ch":
        {"scheduled": [], "stats": {"clock": "115676", "pid": 2316, "broker": {"transport_options":
        {}, "failover_strategy": "round-robin", "login_method": "AMQPLAIN", "hostname":
        "inspire-qa-broker1.cern.ch", "userid": "inspire", "insist": false, "connect_timeout":
        4, "ssl": false, "virtual_host": "inspire", "heartbeat": 120.0, "uri_prefix":
        null, "port": 5672, "transport": "amqp", "alternates": []}, "prefetch_count":
        8, "total": {"invenio_workflows.tasks.resume": 12, "inspirehep.modules.records.tasks.index_modified_citations_from_record":
        169, "inspire_crawler.tasks.schedule_crawl": 3, "inspirehep.modules.migrator.tasks.continuous_migration":
        16, "inspirehep.modules.orcid.tasks.orcid_push": 1102}, "rusage": {"majflt":
        91, "nsignals": 0, "minflt": 120613, "maxrss": 194228, "inblock": 96392, "nswap":
        0, "idrss": 0, "msgrcv": 0, "ixrss": 0, "isrss": 0, "nvcsw": 117884, "stime":
        7.173639, "oublock": 104, "msgsnd": 0, "nivcsw": 667, "utime": 62.23651},
        "pool": {"processes": [2467, 2469], "max-concurrency": 2, "timeouts": [0,
        0], "writes": {"all": "59.29%, 40.71%", "avg": "50.00%", "inqueues": {"active":
        0, "total": 2}, "strategy": "fair", "raw": "772, 530", "total": 1302}, "put-guarded-by-semaphore":
        false, "max-tasks-per-child": "N/A"}}, "revoked": [], "timestamp": 1539692391.175565,
        "registered": ["inspire_crawler.tasks.schedule_crawl", "inspire_crawler.tasks.submit_results",
        "inspirehep.modules.hal.tasks.hal_push", "inspirehep.modules.migrator.tasks.continuous_migration",
        "inspirehep.modules.migrator.tasks.migrate_recids_from_mirror", "inspirehep.modules.orcid.tasks.import_legacy_orcid_tokens",
        "inspirehep.modules.orcid.tasks.orcid_push", "inspirehep.modules.records.tasks.batch_reindex",
        "inspirehep.modules.records.tasks.index_modified_citations_from_rec[...]
